.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    // filter: blur(20px);
    background-color: #0e0e1b;
    overflow: hidden;
    .blurry-dot {
        position: absolute;
        border-radius: 50%;
        filter: blur(30px) opacity(0.05);
        &:nth-child(1) {
            width: 100px;
            height: 100px;
            background-color: var(--text-color-accent);
            top: 55%;
            left: 25%;
        }
        &:nth-child(2) {
            width: 500px;
            height: 500px;
            background-color: #f0501f;
            top: 35%;
            left: 55%;
        }
        &:nth-child(3) {
            width: 300px;
            height: 300px;
            background-color: #a065e4;
            top: 75%;
            left: -10%;
        }
        &:nth-child(4) {
            width: 200px;
            height: 200px;
            background-color: #65e4d3;
            top: 85%;
            right: 5%;
        }
        &:nth-child(5) {
            width: 300px;
            height: 300px;
            background-color: #e4e265;
            top: 5%;
            right: 5%;
        }
        &:nth-child(6) {
            width: 250px;
            height: 250px;
            background-color: #65e476;
            top: 25%;
            left: 25%;
        }
    }
}