@import "typography";

:root {
    // --site-color-primary: #222;
    // --site-color-secondary: #333;
    // --site-color-accent: #444;
    // --text-color-primary: #EEE;
    // --text-color-secondary: #DDD;
    // --text-color-accent: #FFF;
    // --text-color-emphasis: gold;
    --site-color-primary: #131c26;
    --site-color-primary-dark: #06090d;
    --site-color-secondary: #0c0d13;
    --site-color-accent: #424242;
    --text-color-primary: #fff;
    --text-color-secondary: #EEE;
    --text-color-accent: #d58a6d;
    --text-color-emphasis: #f0501f;
    
    --site-color-success: #628c62;
    --text-color-success: #123112;
}

$color_primary: var(--site-color-primary);
$color_primary_dark: var(--site-color-primary-dark);
$color_secondary: var(--site-color-secondary);
$color_accent: var(--site-color-accent);
$text_color_primary: var(--text-color-primary);
$text_color_secondary: var(--text-color-secondary);
$text_color_accent: var(--text-color-accent);
$text_color_emphasis: var(--text-color-emphasis); 

$color_success: var(--site-color-success);
$text_color_success: var(--text-color-success);

// --------------------------------------------------
//
// --------------------------------------------------
//                  Page elements
// --------------------------------------------------
//
// --------------------------------------------------

body {
    margin: 0px;
    background-color: $color_primary;
    border-color: $text_color_secondary;
    color: $text_color_secondary;
    font-family: "Cotham Sans", Helvetica, sans-serif;
    // background-image: linear-gradient(66deg, #888787, #757272);
}
svg {
    width: 25px;
    .cls-1 {
        fill: currentColor;
    }
}
.section-wrapper {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    // border: 1px solid $color_accent;
    background-color: $color_secondary;
}
a {
    color: $text_color_emphasis;
    color: $text_color_accent;
}
input {
    background-color: $color_primary;
    color: $text_color_secondary;
    border: none;
}
input[type="text"] {
    background-color: $color_primary_dark;
    color: $text_color_primary;
    font-family: $font_primary;
    border: 2px solid transparent;
    &:focus {
        outline: none;
        border-color: $text_color_emphasis;
    }
}
input[type="submit"],
button.form-button {
    background-color: $color_primary_dark;
    color: $text_color_accent;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    font-family: $font_primary;
    &:hover {
        color: $color_primary-dark;
        background-color: $text_color_emphasis;
    }
    > .button-symbol {
        letter-spacing: -7px;
        font-family: $font_primary_bold;
        svg {
            width: 13px;
            margin-right: 10px;
        }
    }
    > i {
        margin-right: 10px;
    }
}

// --------------------------------------------------
//
// --------------------------------------------------
//                  Page sections
// --------------------------------------------------
//
// --------------------------------------------------

.site-header {
    padding: 20px 30px;
    background-color: $color_secondary;
    display:flex;
    align-items: center;
    justify-content: space-between;
    h1 > a {
        font-family: $font_primary_bold;
        color: $text_color_accent;
        text-decoration: none;
        font-size: 42px;
        letter-spacing: -7px;
        vertical-align: -1px;
        .site-name:hover {
            text-decoration: underline;
            text-decoration-style: wavy;
            color: $text_color_emphasis;
        }
        .site-logo {
            letter-spacing: -14px;
            margin-right: 15px;
        }    
    }
    .header-menu-button {
        display: flex;
        // padding: 10px;
        // background-color: $color_primary;
        color: $text_color_emphasis;
        color: $text_color_accent;
        font-family: $font_primary_bold;
        letter-spacing: -2px;
        cursor: pointer;
        &:hover {
            // background-color: $text_color_emphasis;
            color: $text_color_primary;
        }
        i {
            font-size: 22px;
        }
    }
}
nav.site-nav {
    display: none;
    position: relative;
    padding: 5px 30px;
    background-color: $color_secondary;
    ul {
        display: flex;
        padding: 0px;
        justify-content: space-between;
        list-style-type: none;
    }
}
#site-nav.reveal {
    display:block;
}

.current_list_wrapper {
    .current_list_inner {
        .current_list_items {
            background-color: $color_primary_dark;
            color: $text_color_primary;
            font-family: $font_primary;
            border-radius: 3px;
            // padding: 10px 0px;
            .list-item {
                padding: 5px 20px;
                cursor: pointer;
                display: flex;
                > label {
                    flex: 1;
                    cursor: inherit;
                }
                > input {
                    cursor: inherit;
                }
                &:nth-child(2n) {
                    background-color: rgba(0, 0, 0, 0.5);
                }
                &:hover {
                    background-color: rgba(240, 80, 31, 0.25);
                }
            }
            .checked {
                text-decoration: line-through;
            }    
        }
        input[type="submit"], button.form-button {
            margin-top: 10px;
            min-width: 220px;
        }
    }
}

.list_entry_wrapper {
    .list_entry_inner {
        form {
            display: flex;
        }
        .new_entry_input {
            flex: 3;
        }
        .new_entry_submit {
            flex: 1;
            height: 30px;
        }
    }
}

.devel-wrapper {
    .log_screen {
        background-color: $color_primary;
        border: 1px solid $color_accent;
        padding: 20px;
        font-family: monospace;
    }    
    .devel-form {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .form-item {
            flex: 1;
            display:flex;
            input[type="text"],
            input[type="submit"] {
                width: 100%;
            }
        }
        .form-input {
            flex: 3;
        }
    }
}

.status-message {
    margin: 0px 20px;
    padding: 20px;
    background-color: $color_success;
    border: 1px solid $text_color_success;
    color: $text_color_success;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

@import 'responsive';