@font-face {
    font-family: "Silkscreen-Regular";
    src: 
        local('Silkscreen Regular'),   
        url('./assets/fonts/Silkscreen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Cotham Sans";
    src: 
        local('Cotham Sans'),   
        url('./assets/fonts/CothamSans.otf') format('opentype');
}

$font_primary: "Silkscreen-Regular";
$font_secondary: "Cotham Sans"