/*
Error: Keyword argument "$color" passed more than once
        on line 87 of sass/style.scss

82:     background-color: $color_primary;
83:     color: $text_color_secondary;
84:     border: none;
85: }
86: input[type="text"] {
87:     background-color: mix($color: #fff, $color: $color_secondary, $weight: 0.5);
88:     color: #333;
89:     font-family: $font_primary;
90: }
91: input[type="submit"] {
92:     background-color: $color_primary;

Backtrace:
sass/style.scss:87
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:703:in `block in arglist'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:904:in `without_stop_at'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:691:in `arglist'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:683:in `fn_arglist'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:643:in `funcall'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:531:in `css_min_max'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:507:in `ident'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_not'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_div'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_minus'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_plus'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `times_div_or_mod'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `plus_or_minus'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `relational'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `eq_or_neq'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `and_expr'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `or_expr'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:481:in `space'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:422:in `interpolation'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:343:in `expr'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:853:in `assert_expr'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:68:in `parse'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:1164:in `sass_script'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:1002:in `value!'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:807:in `block in try_declaration'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:1284:in `rethrow'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:820:in `try_declaration'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:743:in `declaration_or_ruleset'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:383:in `run'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/bin/sass:8:in `<top (required)>'
/usr/bin/sass:25:in `load'
/usr/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Keyword argument \"$color\" passed more than once\A         on line 87 of sass/style.scss\A \A 82:     background-color: $color_primary;\A 83:     color: $text_color_secondary;\A 84:     border: none;\A 85: }\A 86: input[type=\"text\"] {\A 87:     background-color: mix($color: #fff, $color: $color_secondary, $weight: 0.5);\A 88:     color: #333;\A 89:     font-family: $font_primary;\A 90: }\A 91: input[type=\"submit\"] {\A 92:     background-color: $color_primary;"; }
