$color_primary: #222;
$color_secondary: #333;
$color_accent: #444;
$text_color_primary: #EEE;
$text_color_secondary: #DDD;
$text_color_emphasis: goldenrod; 

body {
    margin: 0px;
    background-color: $color_primary;
    border-color: $text_color_secondary;
    color: $text_color_secondary;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background-color: $color_secondary;
    color: $text_color_secondary;
}
input[type="submit"] {
    background-color: $color_primary;
    color: $text_color_emphasis;
}
.current_list_wrapper {
    .current_list_inner {
        margin: 20px;
        padding: 20px;
        border: 1px solid $color_accent;
        background-color: $color_secondary;
        .checked {
            text-decoration: line-through;
        }
    }
}

.list_entry_wrapper {
    .list_entry_inner {
        margin: 20px;
        padding: 20px;
        border: 1px solid $color_accent;
        background-color: $color_secondary;
        form {
            display: flex;
        }
        .new_entry_input {
            flex: 3;
        }
        .new_entry_submit {
            flex: 1;
            height: 30px;
        }
    }
}

.devel-wrapper {
    margin: 20px;
    padding: 20px;
    border: 1px solid $color_accent;
    background-color: $color_secondary;
    .log_screen {
        border: 1px solid $color_accent;
        padding: 20px;
        font-family: monospace;
    }    
    .devel-form {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .form-item {
            flex: 1;
            display:flex;
            input[type="text"],
            input[type="submit"] {
                width: 100%;
            }
        }
        .form-input {
            flex: 3;
        }
    }
}

.status-message {
    margin: 0px 20px;
    padding: 20px;
    background-color: lightgreen;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

