@font-face {
  font-family: "Silkscreen Regular";
  src: local("Silkscreen Regular"), url("./assets/fonts/Silkscreen-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Silkscreen Bold";
  src: local("Silkscreen Regular"), url("./assets/fonts/Silkscreen-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Sixtyfour";
  src: local("Silkscreen"), url("./assets/fonts/Sixtyfour-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Cotham Sans";
  src: local("Cotham Sans"), url("./assets/fonts/CothamSans.otf") format("opentype"); }
:root {
  --site-color-primary: #131c26;
  --site-color-primary-dark: #06090d;
  --site-color-secondary: #0c0d13;
  --site-color-accent: #424242;
  --text-color-primary: #fff;
  --text-color-secondary: #EEE;
  --text-color-accent: #d58a6d;
  --text-color-emphasis: #f0501f;
  --site-color-success: #939aaa;
  --text-color-success: #151231; }

body {
  height: 100%;
  margin: 0px;
  background-color: var(--site-color-primary);
  border-color: var(--text-color-secondary);
  color: var(--text-color-secondary);
  font-family: "Cotham Sans", Helvetica, sans-serif; }

svg {
  width: 25px; }
  svg .cls-1 {
    fill: currentColor; }

.section-wrapper {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--site-color-secondary); }

.hidden {
  display: none !important; }

a {
  color: var(--text-color-emphasis);
  color: var(--text-color-accent); }

input {
  background-color: var(--site-color-primary);
  color: var(--text-color-secondary);
  border: none; }

input[type="text"] {
  background-color: var(--site-color-primary-dark);
  color: var(--text-color-primary);
  font-family: "Silkscreen Regular";
  border: 2px solid transparent;
  border-bottom-color: var(--text-color-accent); }
  input[type="text"]:focus {
    outline: none;
    border-color: var(--text-color-emphasis); }

input[type="submit"],
button.form-button {
  background-color: var(--site-color-primary-dark);
  color: var(--text-color-accent);
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  font-family: "Silkscreen Regular"; }
  input[type="submit"]:hover,
  button.form-button:hover {
    color: var(--site-color-primary-dark);
    background-color: var(--text-color-emphasis); }
  input[type="submit"] > .button-text,
  button.form-button > .button-text {
    margin-bottom: 2px; }
  input[type="submit"] > .button-symbol,
  button.form-button > .button-symbol {
    letter-spacing: -7px;
    font-family: "Silkscreen Bold"; }
    input[type="submit"] > .button-symbol svg,
    button.form-button > .button-symbol svg {
      width: 13px;
      margin-right: 10px; }
  input[type="submit"] > i,
  button.form-button > i {
    margin-right: 10px; }

.site-header {
  padding: 20px 30px;
  background-color: var(--site-color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .site-header h1 > a {
    font-family: "Silkscreen Bold";
    color: var(--text-color-accent);
    text-decoration: none;
    font-size: 42px;
    letter-spacing: -7px;
    vertical-align: -1px; }
    .site-header h1 > a .site-name:hover {
      color: var(--text-color-emphasis); }
    .site-header h1 > a .site-logo {
      letter-spacing: -14px;
      margin-right: 15px; }
      .site-header h1 > a .site-logo:hover {
        color: var(--text-color-emphasis); }
  .site-header .header-menu-button {
    display: flex;
    color: var(--text-color-emphasis);
    color: var(--text-color-accent);
    font-family: "Silkscreen Bold";
    letter-spacing: -2px;
    cursor: pointer; }
    .site-header .header-menu-button:hover {
      color: var(--text-color-primary); }
    .site-header .header-menu-button i {
      font-size: 22px; }

nav.site-nav {
  display: none;
  position: relative;
  padding: 5px 30px;
  background-color: var(--site-color-secondary); }
  nav.site-nav ul {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    list-style-type: none; }

#site-nav.reveal {
  display: block; }

.current_list_wrapper .current_list_inner .current_list_items {
  background-color: var(--site-color-primary-dark);
  color: var(--text-color-primary);
  font-family: "Silkscreen Regular";
  border-radius: 3px; }
  .current_list_wrapper .current_list_inner .current_list_items .list-item {
    padding: 5px 20px;
    cursor: pointer;
    display: flex; }
    .current_list_wrapper .current_list_inner .current_list_items .list-item > label {
      flex: 1;
      cursor: inherit; }
    .current_list_wrapper .current_list_inner .current_list_items .list-item > input {
      cursor: inherit; }
    .current_list_wrapper .current_list_inner .current_list_items .list-item:last-child {
      border-radius: 0px 0px 3px 3px; }
    .current_list_wrapper .current_list_inner .current_list_items .list-item:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.5); }
    .current_list_wrapper .current_list_inner .current_list_items .list-item:hover {
      background-color: rgba(240, 80, 31, 0.25); }
  .current_list_wrapper .current_list_inner .current_list_items .checked {
    text-decoration: line-through; }
.current_list_wrapper .current_list_inner input[type="submit"], .current_list_wrapper .current_list_inner button.form-button {
  margin-top: 10px;
  min-width: 220px; }

.list_entry_wrapper .list_entry_inner form {
  display: flex; }
.list_entry_wrapper .list_entry_inner .new_entry_input {
  flex: 3;
  border-radius: 3px 0px 0px 3px; }
.list_entry_wrapper .list_entry_inner .new_entry_submit {
  flex: 1;
  height: 30px;
  border-radius: 0px 3px 3px 0px; }

.devel-wrapper .log_screen {
  background-color: var(--site-color-primary);
  border: 1px solid var(--site-color-accent);
  padding: 20px;
  font-family: monospace; }
.devel-wrapper .devel-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }
  .devel-wrapper .devel-form .form-item {
    flex: 1;
    display: flex; }
    .devel-wrapper .devel-form .form-item input[type="text"],
    .devel-wrapper .devel-form .form-item input[type="submit"] {
      width: 100%; }
  .devel-wrapper .devel-form .form-input {
    flex: 3; }

.status-message {
  margin: 0px 20px;
  padding: 10px 20px;
  background-color: var(--text-color-accent);
  border: 1px solid var(--site-color-primary);
  color: var(--site-color-primary);
  display: flex;
  justify-content: space-between;
  font-family: "Silkscreen Regular";
  border-radius: 0px 0px 5px 5px; }
  .status-message .emphasis {
    color: var(--text-color-primary); }
  .status-message .close:hover {
    color: var(--text-color-primary);
    cursor: pointer; }

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #06060b;
  overflow: hidden; }
  .background .blurry-dot {
    position: absolute;
    border-radius: 50%;
    filter: blur(30px) opacity(0.05); }
    .background .blurry-dot:nth-child(1) {
      width: 100px;
      height: 100px;
      background-color: var(--text-color-accent);
      top: 55%;
      left: 25%; }
    .background .blurry-dot:nth-child(2) {
      width: 500px;
      height: 500px;
      background-color: var(--text-color-emphasis);
      top: 35%;
      left: 55%; }
    .background .blurry-dot:nth-child(3) {
      width: 300px;
      height: 300px;
      background-color: #a065e4;
      top: 75%;
      left: -10%; }
    .background .blurry-dot:nth-child(4) {
      width: 200px;
      height: 200px;
      background-color: #65e4d3;
      top: 85%;
      right: 5%; }
    .background .blurry-dot:nth-child(5) {
      width: 300px;
      height: 300px;
      background-color: #e4e265;
      top: 5%;
      right: 5%; }
    .background .blurry-dot:nth-child(6) {
      width: 250px;
      height: 250px;
      background-color: #65e476;
      top: 45%;
      left: 25%; }

@media only screen and (max-width: 660px) {
  .site-header {
    flex-direction: column; }
    .site-header h1 {
      margin-top: -10px; }
      .site-header h1 a .site-logo {
        display: none; }

  .current_list_wrapper .current_list_inner button.form-button {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
